/* universal style */
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

header{
        background-color:gainsboro;
}

/* search part css */

.search-input:focus{
        box-shadow: none !important;
        outline: none !important;
}
.search-input:hover{
   
        box-shadow: none !important;
        outline: none;
}
.search-btn:focus{
 
        box-shadow: none !important;
        outline: none !important;
}
.search-btn:hover{
        
        box-shadow: none !important;
        outline: none;
}

.not-found-color{
        color:brown;
}


/* main-feature part css from js */

/* .main-feature h5{
        /* text-align:center; */
/* } */
/* .main-feature p{ */
        /* text-align:left; */
/* } */ 

/* sensor part css which create on js */

.custom-li{
        border:none;
        /* text-align:left; */
        color:rgb(29, 25, 25);
        padding:4px 0px;
}
